body {
  font-family: Sora-Light, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1f1f1f;
  color: #fff;
}

header {
  background-color: #1f1f1f;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50%; 
  justify-content: center;
  align-items: center;
}

.logopg {
  width: 60pt; 
  float: right;
  padding: 0px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav li:hover {
  background-color: #26fb9a;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  background-color: #111;
}

.hero h1 {
  font-size: 2.5em;
  color: #26fb9a;
}

.hero .btn {
  padding: 10px 20px;
  background-color: #26fb9a;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

footer {
  text-align: center;
  background-color: #1f1f1f;
  margin-top: auto;
}

.contact {
  text-align: center;
  padding: 2%;
  background-color: #111;
}

.email-submit {
  padding: 10px 20px;
  background-color: #26fb9a;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.textarea-cliente {
  min-width: 25%;
  height: 100px;
  width: auto;
  padding: 10px;
  align-items: center;
}

.contact .btn {
  padding: 10px 20px;
  background-color: #26fb9a;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}